.jumbotron {
  background-color: #abdfdf;
  padding-top: 5rem;
  display: flex;
}

.hero {
  padding-top: 6rem;
}

#about {
  padding-top: 6rem;
}

#project {
  padding-top: 6rem;
}

#contact {
  padding-top: 6rem;
}

.zeus {
  position: relative;
  right: 50px;
  padding-bottom: 30px;
}

.nav-link {
  border-radius: 7px;
  padding: 3px;
}

.nav-link:hover {
  background-color: #abdfdf;
  color: white;
  border-radius: 7px;
  padding: 3px;
  transform: translateY(-3px);
}

.nav-link:active {
  background-color: #3b3b3b;
  color: white;
  border-radius: 7px;
  padding: 3px;
  transform: translateY(-3px);
}
